<table>
    {{/*  <thead>
    Table 1. The Summary of Entities in GenomicKB
    </thead>  */}}
    <tbody><tr>
        <th>Entity Type</th>
        <th>Entity Sub-type</th>
        <th>Data Source</th>
        <th colspan="2">Number of Entities</th>
    </tr>
<!--  Coding Elements  -->
    <tr>
        <td rowspan="4">Coding Elements</td>
        <td>Genes</td>
        <td>GENCODE</td>
        <td colspan="2">61186</td>
    </tr>
    <tr>
        <td>Transcripts</td>
        <td>GENCODE</td>
        <td colspan="2">236816</td>
    </tr>
    <tr>
        <td>Exons</td>
        <td>GENCODE</td>
        <td colspan="2">643060</td>
    </tr>
    <tr>
        <td>Proteins</td>
        <td>GENCODE</td>
        <td colspan="2">106140</td>
    </tr>
<!--  Non-coding elements  -->
    <tr>
        <td rowspan="8">Non-Coding Elements</td>
        <td rowspan="3">Enhancers</td>
        <td>ENCODE Candidate cis-Regulatory Elements (CCRE)</td>
        <td colspan="2">809429</td>
    </tr>
    <tr>
        <td>ENdb</td>
        <td colspan="2">249</td>
    </tr>
    <tr>
        <td>EnhancerAtlas</td>
        <td colspan="2">2895013</td>
    </tr>
    <tr>
        <td>Insulators</td>
        <td>ENCODE Candidate cis-Regulatory Elements (CCRE)</td>
        <td colspan="2">56766</td>
    </tr>
    <tr>
        <td rowspan="2">Promoters</td>
        <td>The Eukaryotic Promoter Database (EPD)</td>
        <td colspan="2">21071</td>
    </tr>
    <tr>
        <td>ENCODE Candidate cis-Regulatory Elements (CCRE)</td>
        <td colspan="2">34803</td>
    </tr>
    <tr>
        <td>Super-enhancers</td>
        <td>dbSuper</td>
        <td colspan="2">38030</td>
    </tr>
    <tr>
        <td>non_coding_RNA</td>
        <td>RNAcentral</td>
        <td colspan="2">474310</td>
    </tr>
<!--  Genomic Variants  -->
    <tr>
        <td rowspan="9">Genomic Variants</td>
        <td rowspan="3">SNPs</td>
        <td>Genotype-Tissue Expression (GTEx)</td>
        <td colspan="2">4295337</td>
    </tr>
    <tr>
        <td>GWAS Catalog</td>
        <td colspan="2">167191</td>
    </tr>
    <tr>
        <td>dbSNP</td>
        <td colspan="2">18117451</td>
    </tr>
    <tr>
        <td rowspan="2">insertion/deletion</td>
        <td>Genotype-Tissue Expression (GTEx)</td>
        <td colspan="2">337120</td>
    </tr>
    <tr>
        <td>dbSNP</td>
        <td colspan="2">676693</td>
    </tr>
    <tr>
        <td>Indel</td>
        <td>dbSNP</td>
        <td colspan="2">2313181</td>
    </tr>
    <tr>
        <td>MNP</td>
        <td>dbSNP</td>
        <td colspan="2">139</td>
    </tr>
    <tr>
        <td rowspan="2">Structural variants</td>
        <td>Database of Genomic Variants (DGV)</td>
        <td colspan="2">808608</td>
    </tr>
    <tr>
        <td>NCBI dbVar</td>
        <td colspan="2">67718</td>
    </tr>
<!--  3D structures  -->
    <tr>
        <td rowspan="4">3D structures</td>
        <td>Topological associating domains (TADs)</td>
        <td>4D Nucleome (4DN)</td>
        <td colspan="2">44643</td>
    </tr>
    <tr>
        <td>4DN compartment</td>
        <td>4D Nucleome (4DN)</td>
        <td colspan="2">7879</td>
    </tr>
    <tr>
        <td>Chromatin loops</td>
        <td>4D Nucleome (4DN)</td>
        <td colspan="2">37892</td>
    </tr>
    <tr>
        <td>Frequently interacting regions (FIRES)</td>
        <td>FIRE studies</td>
        <td colspan="2">20960</td>
    </tr>
<!--  Epigenomic features  -->
    <tr>
        <td rowspan="6">Epigenomic features</td>
        <td>Transcriptional factor binding profile</td>
        <td>ENCODE</td>
        <td colspan="2">219830128</td>
    </tr>
    <tr>
        <td>Transcriptional factor binding motifs</td>
        <td>MotiMap</td>
        <td colspan="2">3996453</td>
    </tr>
    <tr>
        <td>DNase-hypersensitivity sites</td>
        <td>ENCODE</td>
        <td colspan="2">21858996</td>
    </tr>
    <tr>
        <td>Histone binding profiles</td>
        <td>ENCODE</td>
        <td colspan="2">44947427</td>
    </tr>
    <tr>
        <td>Replication Timing</td>
        <td>4D Nucleome (4DN)</td>
        <td colspan="2">354962</td>
    </tr>
    <tr>
        <td>ChromHMM State</td>
        <td>ChromHMM</td>
        <td colspan="2">4143552</td>
    </tr>
<!--  Ontologies  -->
    <tr>
        <td rowspan="6">Ontologies</td>
        <td rowspan="3">Tissue and cell lines</td>
        <td>Cell ontology (CL)</td>
        <td>2493</td>
        <td rowspan="3">27783</td>
    </tr>
    <tr>
        <td>Uber-anatomy ontology (UBERON)</td>
        <td>15398</td>
    </tr>
    <tr>
        <td>BRENDA tissue ontology (BTO)</td>
        <td>6520</td>
    </tr>
    <tr>
        <td>Phenotype or disease</td>
        <td>Experimental factor ontology (EFO)</td>
        <td>11299</td>
        <td>28472</td>
    </tr>
    <tr>
        <td>Gene ontologies</td>
        <td>Gene ontologies (GO)</td>
        <td colspan="2">50635</td>
    </tr>
    <tr>
        <td>Transcriptional factors</td>
        <td>Human transcriptional factors</td>
        <td colspan="2">2765</td>
    </tr>
</tbody>
</table>