<table>
    {{/*  <thead>
    Table 1. The Summary of Entities in GenomicKB
    </thead>  */}}
    <tbody><tr>
        <th>Entity Type</th>
        <th>Entity Sub-type</th>
        <th>Data Source</th>
        <th>Number of Entities</th>
    </tr>
<!--  Coding Elements  -->
    <tr>
        <td rowspan="4">Coding Elements</td>
        <td>Exons</td>
        <td>Ensembl</td>
        <td>643060</td>
    </tr>
    <tr>
        <td>Genes</td>
        <td>Ensembl</td>
        <td>63636</td>
    </tr>
    <tr>
        <td>Transcripts</td>
        <td>Ensembl</td>
        <td>236816</td>
    </tr>
    <tr>
        <td>Proteins</td>
        <td>Ensembl</td>
        <td>106140</td>
    </tr>
<!--  Epigenomic features  -->
    <tr>
        <td rowspan="6">Epigenomic features</td>
        <td>ChromHMM State</td>
        <td>ChromHMM</td>
        <td>4143551</td>
    </tr>
    <tr>
        <td>DNase-hypersensitivity sites</td>
        <td>ENCODE</td>
        <td>21858996</td>
    </tr>
    <tr>
        <td>Transcriptional factor binding site</td>
        <td>ENCODE</td>
        <td>219830128</td>
    </tr>
    <tr>
        <td>Transcriptional factor binding motifs</td>
        <td>MotifMap</td>
        <td>4473184</td>
    </tr>
    <tr>
        <td>Histone modification site</td>
        <td>ENCODE</td>
        <td>44947427</td>
    </tr>
    <tr>
        <td>Replication Timing</td>
        <td>4D Nucleome (4DN)</td>
        <td>354962</td>
    </tr>
<!--  Non-coding elements  -->
    <tr>
        <td rowspan="7">Non-Coding Elements</td>
        <td rowspan="2">Enhancers</td>
        <td>ENdb</td>
        <td>249</td>
    </tr>
    <tr>
        <td>EnhancerAtlas</td>
        <td>2895465</td>
    </tr>
    <tr>
        <td>Insulators</td>
        <td>ENCODE</td>
        <td>72535</td>
    </tr>
    <tr>
        <td>non_coding_RNA</td>
        <td>RNAcentral</td>
        <td>474380</td>
    </tr>
    <tr>
        <td rowspan="2">Promoter</td>
        <td>The Eukaryotic Promoter Database (EPD)</td>
        <td>21071</td>
    </tr>
    <tr>
        <td>ENCODE</td>
        <td>32650</td>
    </tr>
    <tr>
        <td>Super-enhancers</td>
        <td>dbSuper</td>
        <td>65816</td>
    </tr>
<!--  Ontologies  -->
    <tr>
        <td rowspan="3">Ontologies</td>
        <td>Tissue and cell lines</td>
        <td>NCBO</td>
        <td>35155</td>
    </tr>
    <tr>
        <td>Experimental Factor</td>
        <td>NCBO</td>
        <td>35469</td>
    </tr>
    <tr>
        <td>Gene ontologies</td>
        <td>NCBO</td>
        <td>50726</td>
    </tr>
<!--  3D structures  -->
    <tr>
        <td rowspan="4">3D structures</td>
        <td>AB compartment</td>
        <td>4D Nucleome (4DN)</td>
        <td>7879</td>
    </tr>
    <tr>
        <td>Frequently interacting regions (FIRES)</td>
        <td>FIRE studies</td>
        <td>73131</td>
    </tr>
    <tr>
        <td>Topological associating domains (TADs)</td>
        <td>4D Nucleome (4DN)</td>
        <td>49856</td>
    </tr>
    <tr>
        <td>Chromatin loops</td>
        <td>4D Nucleome (4DN)</td>
        <td>46906</td>
    </tr>
<!--  Genomic Variants  -->
    <tr>
        <td rowspan="4">Genomic Variants</td>
        <td rowspan="2">Sequence variants</td>
        <td>dbSNP</td>
        <td>21107464</td>
    </tr>
    <tr>
        <td>GWAS Catalog</td>
        <td>12790</td>
    </tr>
    <tr>
        <td rowspan="2">Structural variants</td>
        <td>Database of Genomic Variants (DGV)</td>
        <td>808608</td>
    </tr>
    <tr>
        <td>dbVar</td>
        <td>67718</td>
    </tr>
</tbody>
</table>